In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data=pd.read_csv("NationalNames.csv")

In [4]:
data.head()

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [5]:
data.shape

(1825433, 5)

In [6]:
data["Name"].nunique

<bound method IndexOpsMixin.nunique of 0               Mary
1               Anna
2               Emma
3          Elizabeth
4             Minnie
             ...
1825428       Zykeem
1825429       Zymeer
1825430      Zymiere
1825431        Zyran
1825432        Zyrin
Name: Name, Length: 1825433, dtype: object>

In [7]:
#label encoder on gender
from sklearn.preprocessing import LabelEncoder

In [9]:
#preprocesssing
le=LabelEncoder()

In [10]:
data["Gender"] = le.fit_transform(data["Gender"])

In [11]:
data.head()

   Id       Name  Year  Gender  Count
0   1       Mary  1880       0   7065
1   2       Anna  1880       0   2604
2   3       Emma  1880       0   2003
3   4  Elizabeth  1880       0   1939
4   5     Minnie  1880       0   1746

In [15]:
data.groupby('Name').mean()[['Gender']]

           Gender
Name
Aaban         1.0
Aabha         0.0
Aabid         1.0
Aabriella     0.0
Aadam         1.0
...           ...
Zytavious     1.0
Zyvion        1.0
Zyyanna       0.0
Zyyon         1.0
Zzyzx         1.0

[93889 rows x 1 columns]

In [12]:
df = data.groupby('Name').mean()[['Gender']].reset_index()

In [16]:
df['Gender'] =  df['Gender'].astype('int')

In [17]:
df.head()

        Name  Gender
0      Aaban       1
1      Aabha       0
2      Aabid       1
3  Aabriella       0
4      Aadam       1

In [18]:
import string

In [19]:
letters = list(string.ascii_lowercase)

In [20]:
vocab = dict(zip(letters, range(1, 27)))

In [22]:
rev_dic = dict(zip( range(1, 27), letters))
#make letter to number and make dict (vocab)

In [23]:
name = "Aabriella".lower()

In [24]:
seq = [vocab[i] for i in name]

In [25]:
seq

[1, 1, 2, 18, 9, 5, 12, 12, 1]

In [26]:
X = []
for name in df['Name'].values:
    name = name.lower()
    seq = [vocab[i] for i in name]
    X.append(seq)

In [27]:
y = df.Gender.values

In [28]:
from keras.preprocessing.sequence import pad_sequences

In [29]:
X = pad_sequences(X, maxlen=10, padding='pre')

In [30]:
X.shape

(93889, 10)

In [31]:
y.shape

(93889,)

In [32]:
from keras.layers import *
from keras.models import Model

In [33]:
len(vocab)

26

In [34]:
inp = Input(shape=(10,))
emb = Embedding(input_dim=27, output_dim = 5)(inp)
rnn = SimpleRNN(units=32)(emb)
out = Dense(units=1, activation='sigmoid')(rnn)

In [35]:
model = Model(inputs = inp, outputs = out)

In [36]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 10)]              0
_________________________________________________________________
embedding (Embedding)        (None, 10, 5)             135
_________________________________________________________________
simple_rnn (SimpleRNN)       (None, 32)                1216
_________________________________________________________________
dense (Dense)                (None, 1)                 33
=================================================================
Total params: 1,384
Trainable params: 1,384
Non-trainable params: 0
_________________________________________________________________

In [37]:
model.compile(optimizer='adam', loss="binary_crossentropy", metrics = ['accuracy'])

In [38]:
hist = model.fit(X, y, epochs=10, batch_size=1024, validation_split=0.2)

Epoch 1/10
74/74 [==============================] - 2s 22ms/step - loss: 0.6132 - accuracy: 0.6711 - val_loss: 0.5523 - val_accuracy: 0.7120
Epoch 2/10
74/74 [==============================] - 1s 17ms/step - loss: 0.5002 - accuracy: 0.7476 - val_loss: 0.4453 - val_accuracy: 0.7999
Epoch 3/10
74/74 [==============================] - ETA: 0s - loss: 0.4231 - accuracy: 0.80 - 1s 17ms/step - loss: 0.4228 - accuracy: 0.8007 - val_loss: 0.4036 - val_accuracy: 0.8138
Epoch 4/10
74/74 [==============================] - 1s 18ms/step - loss: 0.3993 - accuracy: 0.8148 - val_loss: 0.3905 - val_accuracy: 0.8237
Epoch 5/10
74/74 [==============================] - 1s 18ms/step - loss: 0.3940 - accuracy: 0.8178 - val_loss: 0.3913 - val_accuracy: 0.8242
Epoch 6/10
74/74 [==============================] - 1s 16ms/step - loss: 0.3919 - accuracy: 0.8191 - val_loss: 0.3883 - val_accuracy: 0.8266
Epoch 7/10
74/74 [==============================] - 1s 17ms/step - loss: 0.3898 - accuracy: 0.8206 - val_loss: 0.3884 - val_accuracy: 0.8236
Epoch 8/10
74/74 [==============================] - 1s 18ms/step - loss: 0.3888 - accuracy: 0.8205 - val_loss: 0.3855 - val_accuracy: 0.8263
Epoch 9/10
74/74 [==============================] - 1s 20ms/step - loss: 0.3886 - accuracy: 0.8216 - val_loss: 0.3877 - val_accuracy: 0.8238
Epoch 10/10
74/74 [==============================] - 1s 19ms/step - loss: 0.3879 - accuracy: 0.8218 - val_loss: 0.3848 - val_accuracy: 0.8281

In [159]:

name = "ag".lower()

In [160]:
seq = [vocab[i] for i in name]

In [161]:
x_test = pad_sequences([seq], maxlen=10)

In [162]:
x_test

array([[0, 0, 0, 0, 0, 0, 0, 0, 1, 7]])

In [163]:
model.predict(x_test)

array([[0.66607404]], dtype=float32)